{% extends "base.html" %}
{% block ce %}
<ul class="nav navbar-nav">
    <li>
        <a href="{{ url_for('index') }}">
            <span class="icon fa fa-tachometer"></span><span class="title">information</span>
        </a>
    </li>
    <li class="active">
        <a href="{{ url_for('crawler') }}">
            <span class="icon fa fa-slack"></span><span class="title">Crawler</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('usernet') }}">
            <span class="icon fa fa-cubes"></span><span class="title">User Net</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('recommend') }}">
            <span class="icon fa fa-thumbs-o-up"></span><span class="title">Recommend</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('commodity') }}">
            <span class="icon glyphicon glyphicon-heart"></span><span class="title">Comodity</span>
        </a>
    </li>
</ul>
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="side-body">
            <div class="page-title">
                <span class="title">Crawler</span>
                <div class="description">输入微博用户名,即可爬取你想要得到的信息</div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">Crawler</div>
                            </div>
                        </div>
                        <div class="card-body">
                            查询 微博名为 '张三' 的用户,在下方输入 张三 点击爬取按钮,即可将结果展示到下方
                            <form action="{{ url_for('crawler') }}" method="post">
                                <div class="sub-title">Input</div>
                            <div>
                                <input type="text" class="form-control" name="weiboName" placeholder="Text input">
                            </div>
                            <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">
                                <button type="submit" class="btn btn-info">开始爬取</button>
                            </div>
                            </form>
                            <div class="sub-title">爬取结果</div>
                            <div>
                                <textarea class="form-control" rows="15">{{ info }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}