{% extends "base.html" %}
{% block ce %}
<ul class="nav navbar-nav">
    <li>
        <a href="{{ url_for('index') }}">
            <span class="icon fa fa-tachometer"></span><span class="title">information</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('crawler') }}">
            <span class="icon fa fa-slack"></span><span class="title">Crawler</span>
        </a>
    </li>
    <li class="active">
        <a href="{{ url_for('usernet') }}">
            <span class="icon fa fa-cubes"></span><span class="title">User Net</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('recommend') }}">
            <span class="icon fa fa-thumbs-o-up"></span><span class="title">Recommend</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('commodity') }}">
            <span class="icon glyphicon glyphicon-heart"></span><span class="title">Comodity</span>
        </a>
    </li>
</ul>
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="side-body">
            <div class="page-title">
                <span class="title">User Attribute</span>
                <div class="description">分析用户属性</div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">Attribute</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="{{ url_for('usernet') }}" method="post">
                                查询指定用户属性 ，ps：input '张三' , 你可以得到张三的微博关键字标签及基本信息
                                <div class="sub-title">Input</div>
                                <div>
                                    <input type="text" name="weiboName" class="form-control" placeholder="请输入用户名">
                                </div>
                                <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">
                                    <button type="submit" class="btn btn-info">分析用户属性</button>
                                </div>
                            </form>
                            <div class="sub-title">User attribute</div>
                            <div class="row">
                                {% for key in keyWords %}
                                <div class="alert alert-success col-sm-2" role="alert">
                                    <strong>key {{ loop.index }}：{{ key }}</strong>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="sub-title">User preference</div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>preference</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in preference %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ i }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-title">
                <span class="title">用户关系网络</span>
                <div class="description">分析用户关系网络</div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">基本属性表格</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row no-margin no-gap">
                                <div class="col-sm-3">
                                    <div class="pricing-table green">
                                        <div class="pt-header">
                                            <div class="plan-pricing">
                                                <div class="pricing">ODC</div>
                                                <div class="pricing-type">度中心性</div>
                                            </div>
                                        </div>
                                        <div class="pt-body">
                                            <h4>{{ ODC }}</h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="pricing-table blue">
                                        <div class="pt-header">
                                            <div class="plan-pricing">
                                                <div class="pricing">CC</div>
                                                <div class="pricing-type">精密性中心性</div>
                                            </div>
                                        </div>
                                        <div class="pt-body">
                                            <h4>{{ CC }}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="pricing-table yellow">
                                        <div class="pt-header">
                                            <div class="plan-pricing">
                                                <div class="pricing">BC</div>
                                                <div class="pricing-type">中介性中心性</div>
                                            </div>
                                        </div>
                                        <div class="pt-body">
                                            <h4>{{ BC }}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="pricing-table red">
                                        <div class="pt-header">
                                            <div class="plan-pricing">
                                                <div class="pricing">diameter</div>
                                                <div class="pricing-type">网络直径</div>
                                            </div>
                                        </div>
                                        <div class="pt-body">
                                            <h4>{{ diameter }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">

                            <div class="card-title">
                            <div class="title">具体交互信息</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="datatable table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Friend ID</th>
                                        <th>Point</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Friend ID</th>
                                        <th>Point</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for friend in friends %}
                                    <tr>
                                        <td>{{ friend }}</td>
                                        <td>{{ friends[friend] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}