{% extends "base.html" %}
{% block ce %}
<ul class="nav navbar-nav">
    <li>
        <a href="{{ url_for('index') }}">
            <span class="icon fa fa-tachometer"></span><span class="title">information</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('crawler') }}">
            <span class="icon fa fa-slack"></span><span class="title">Crawler</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('usernet') }}">
            <span class="icon fa fa-cubes"></span><span class="title">User Net</span>
        </a>
    </li>
    <li class="active">
        <a href="{{ url_for('recommend') }}">
            <span class="icon fa fa-thumbs-o-up"></span><span class="title">Recommend</span>
        </a>
    </li>
    <li>
        <a href="{{ url_for('commodity') }}">
            <span class="icon glyphicon glyphicon-heart"></span><span class="title">Comodity</span>
        </a>
    </li>
</ul>
{% endblock %}
{% block main %}
    <div class="container-fluid">
        <div class="side-body">
            <div class="page-title">
                <span class="title">用户推荐系统</span>
                <div class="description">选择商品类别 推荐适合用户</div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">User Recommend</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="{{ url_for('recommend') }}" method="post">
                            <div class="sub-title">选择商品</div>
                            <div>
                                <select name="bag">
                                    <optgroup label="默认类别">
                                        {% for one in bags %}
                                        <option value="{{ one }}" >{{ one }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit" style="height: 30px">查询符合条件的用户</button>
                            </div>
                            <div class="sub-title"><h1>Result</h1></div>
                            </form>
                        </div>
                        <div class="card-body">
                            <table class="datatable table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>pr1</th>
                                        <th>pr2</th>
                                        <th>pr3</th>
                                        <th>pr4</th>
                                        <th>pr5</th>
                                        <th>pr6</th>
                                        <th>pr7</th>
                                        <th>pr8</th>
                                        <th>pr9</th>
                                        <th>pr10</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>pr1</th>
                                        <th>pr2</th>
                                        <th>pr3</th>
                                        <th>pr4</th>
                                        <th>pr5</th>
                                        <th>pr6</th>
                                        <th>pr7</th>
                                        <th>pr8</th>
                                        <th>pr9</th>
                                        <th>pr10</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                {% for info in infomation %}
                                    <tr>
                                        <td>{{ info['name'] }}</td>
                                        {% for pre in info['pref'] %}
                                            <td>{{ pre }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}